* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #0d0d0d;
    color: #51ca52;
}

.left, .right, .main {
    padding: 20px;
}

.left {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1a1a1a;
    padding: 20px;
    border-right: 2px solid #51ca52;
}

.link {
    margin: 10px 0;
    font-size: 24px;
    transition: color 0.3s ease;
}

.link:hover {
    color: #8be88a;
}

.main {
    flex: 1;
    text-align: center;
    padding: 50px;
}

.main h1 {
    font-size: 3em;
    color: #51ca52;
    margin-bottom: 20px;
}

.main p {
    font-size: 1.2em;
    color: #d3d3d3;
    margin-bottom: 30px;
}

.main h2 {
    font-size: 2em;
    color: #51ca52;
    margin-top: 30px;
    margin-bottom: 10px;
}

.main ul {
    list-style-type: none;
    color: #d3d3d3;
    padding: 0;
    margin-left: 20px;
}

.main ul li {
    font-size: 1.1em;
    margin: 5px 0;
    padding-left: 10px;
    border-left: 2px solid #51ca52;
}

.right {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #1a1a1a;
    padding: 20px;
    border-left: 2px solid #51ca52;
}

.right img {
    max-width: 150px;
    border-radius: 50%;
    border: 2px solid #51ca52;
}

.footer {
    position: fixed;
    bottom: 0;
    width: 100%;
    text-align: center;
    padding: 10px;
    background-color: #0d0d0d;
    color: #51ca52;
}
