@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro:wght@200&display=swap');
*{
    margin: 0;
    font-family: 'Source Code Pro', monospace;
}
button{
    margin-top: 10px;
    background-color: #000;
    border: 1px solid;
    border-radius: 10px;
    padding: 10px;
    cursor: pointer;
}
button a{
    color: #0f0;
    text-decoration: none;
}